.home-wrap {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: none;
    }

    .title-wrap {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        height: 200px;
        justify-content: center;

        .title-main {
            font-weight: 800;
            font-size: 70px;

            @media ALL and (max-width:500px) {
                font-size: 26px;
            }
        }

        .title-descrpition {
            font-weight: 600;
            font-size: 28px;

            @media ALL and (max-width:500px) {
                font-size: 16px;
            }
        }

        .title-search-wrap {
            margin-top: auto;
            display: flex;

            input {
                border-radius: 1000px;
                width: 70%;
                height: 40px;
                padding-left: 25px;
                border: 2px solid #ccc;
                outline: none;
                font-weight: 700;
                font-size: 18px;

                @media ALL and (max-width:500px) {
                    height: 30px;
                }
            }

            button {
                width: 120px;
                height: 100%;
                border-radius: 1000px;
                border: 2px solid #7726d2;
                background-color: #7726d2;
                margin-left: -100px;
                color: white;
                font-weight: 600;
                cursor: pointer;

                @media ALL and (max-width:500px) {
                    width: 80px;
                    margin-left: -50px;
                }
            }
        }
    }
}

.notf-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
}